// relative positions end
[data-fancybox] {
    cursor: zoom-in;
}


/* ------ colors ------ */

// text
@each $key, $value in $colors {
    [class*="_c-#{$key}"] {
        color: $value;
    }
}

// background
@each $key, $value in $colors {
    [class*="_bgc-#{$key}"] {
        background-color: $value;
    }
}

// border
@each $key, $value in $colors {
    [class*="_bc-#{$key}"] {
        border-color: $value;
    }
}


/* ------ colors end ------ */


/* ------ grid ------ */

[class*="__container"] {
    @include wrapper;
}

[class*="__row"] {
    @include row;
}

// cols
.b-col{}
// default
@for $i from 1 through $cols {
    .b-col_#{$i}{
        @include col($i);
    }
}
// xl
@for $i from 1 through $cols {
    .b-col_xl-#{$i}{
        @include col-xl($i);
    }
}
// lg
@for $i from 1 through $cols {
    .b-col_lg-#{$i}{
        @include col-lg($i);
    }
}
// md
@for $i from 1 through $cols {
    .b-col_md-#{$i}{
        @include col-md($i);
    }
}
// sm
@for $i from 1 through $cols {
    .b-col_sm-#{$i}{
        @include col-sm($i);
    }
}
// xs
@for $i from 1 through $cols {
    .b-col_xs-#{$i}{
        @include col-xs($i);
    }
}
/* ------ grid end ------ */

// flex settings
[class*="_w-100"] {
    width: 100%;
}

[class*="_ai-center"] {
    align-items: center;
}

[class*="_ai-end"] {
    align-items: flex-end;
}

[class*="_ai-start"] {
    align-items: flex-start;
}

[class*="_ai-baseline"] {
    align-items: baseline;
}

[class*="_jc-center"] {
    justify-content: center;
}

[class*="_jc-end"] {
    justify-content: flex-end;
}

[class*="_jc-start"] {
    justify-content: flex-start;
}

[class*="_jc-between"] {
    justify-content: space-between;
}

[class*="_jc-around"] {
    justify-content: space-around;
}

[class*="_jc-evenly"] {
    justify-content: space-around;
    justify-content: space-evenly;
}

[class*="_fw-wrap"] {
    flex-wrap: wrap;
}

[class*="_fw-nowrap"] {
    flex-wrap: nowrap;
}

// displays
// flex
@each $d in $dislplays{
    [class*="_d-#{$d}"]{
        display: #{$d};
    }
    [class*="_d-xl-#{$d}"]{
        @include xl{
            display: #{$d};
        }
    }
    [class*="_d-lg-#{$d}"]{
        @include lg{
            display: #{$d};
        }
    }
    [class*="_d-md-#{$d}"]{
        @include md{
            display: #{$d};
        }
    }
    [class*="_d-sm-#{$d}"]{
        @include sm{
            display: #{$d};
        }
    }
    [class*="_d-xs-#{$d}"]{
        @include xs{
            display: #{$d};
        }
    }
}

[class*="_o-hidden"] {
    overflow: hidden;
}

// text align
[class*="_ta-center"] {
    text-align: center;
}

[class*="_ta-left"] {
    text-align: left;
}

[class*="_ta-right"] {
    text-align: right;
}