<div class="b-section b-main__section">
    <div class="b-section__container">
        <div class="b-section-title b-section-title_c-dark b-section-title_ta-center b-section__title">
            Новости
        </div>
        <div class="b-section__block">
            <div class="b-first-slider">
                <div class="b-first-slider__arrows">
                    <div class="b-first-slider__arrow b-first-slider__arrow_prev disabled" data-first-slider-arrow-prev>
                        @@include('../../../icons/arrow-left.svg')
                    </div>
                    <div class="b-first-slider__arrow b-first-slider__arrow_next" data-first-slider-arrow-next>
                        @@include('../../../icons/arrow-right.svg')
                    </div>
                </div>
                <div class="b-first-slider__list" data-first-slider-list>
                    <div class="b-first-slider__item">
                        <div class="b-card b-card_gray b-card_not-tag">
                            <a href="#" class="b-card__header">
                                <div class="b-card__image-bg" style="background-image: url(./assets/img/img-1.jpg);"></div>
                                <div class="b-card__image" style="background-image: url(./assets/img/img-1.jpg);"></div>
                            </a>
                            <div class="b-card__main">
                                <div class="b-card__time">
                                    17.02.2020
                                </div>
                                <div class="b-badge b-badge_gray b-card__see">
                                    @@include('../../../icons/eye.svg') <span>14</span>
                                </div>
                            </div>
                            <a href="#" class="b-card__footer">
                                <div class="b-card__title">
                                    Как найти работу своему коту
                                </div>
                                <div class="b-card__icon">
                                    @@include('../../../icons/arrow-right.svg')
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="b-first-slider__item">
                        <div class="b-card b-card_gray b-card_not-tag">
                            <a href="#" class="b-card__header">
                                <div class="b-card__image-bg" style="background-image: url(./assets/img/img-2.jpg);"></div>
                                <div class="b-card__image" style="background-image: url(./assets/img/img-2.jpg);"></div>
                            </a>
                            <div class="b-card__main">
                                <div class="b-card__time">
                                    17.02.2020
                                </div>
                                <div class="b-badge b-badge_gray b-card__see">
                                    @@include('../../../icons/eye.svg') <span>14</span>
                                </div>
                            </div>
                            <a href="#" class="b-card__footer">
                                <div class="b-card__title">
                                    Как найти работу своему коту
                                </div>
                                <div class="b-card__icon">
                                    @@include('../../../icons/arrow-right.svg')
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="b-first-slider__item">
                        <div class="b-card b-card_gray b-card_not-tag">
                            <a href="#" class="b-card__header">
                                <div class="b-card__image-bg" style="background-image: url(./assets/img/img-3.jpg);"></div>
                                <div class="b-card__image" style="background-image: url(./assets/img/img-3.jpg);"></div>
                            </a>
                            <div class="b-card__main">
                                <div class="b-card__time">
                                    17.02.2020
                                </div>
                                <div class="b-badge b-badge_gray b-card__see">
                                    @@include('../../../icons/eye.svg') <span>14</span>
                                </div>
                            </div>
                            <a href="#" class="b-card__footer">
                                <div class="b-card__title">
                                    Как найти работу своему коту
                                </div>
                                <div class="b-card__icon">
                                    @@include('../../../icons/arrow-right.svg')
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="b-first-slider__item">
                        <div class="b-card b-card_gray b-card_not-tag">
                            <a href="#" class="b-card__header">
                                <div class="b-card__image-bg" style="background-image: url(./assets/img/img-1.jpg);"></div>
                                <div class="b-card__image" style="background-image: url(./assets/img/img-1.jpg);"></div>
                            </a>
                            <div class="b-card__main">
                                <div class="b-card__time">
                                    17.02.2020
                                </div>
                                <div class="b-badge b-badge_gray b-card__see">
                                    @@include('../../../icons/eye.svg') <span>14</span>
                                </div>
                            </div>
                            <a href="#" class="b-card__footer">
                                <div class="b-card__title">
                                    Как найти работу своему коту
                                </div>
                                <div class="b-card__icon">
                                    @@include('../../../icons/arrow-right.svg')
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-section__block b-section__block_d-flex b-section__block_jc-center">
            <a href="#" class="b-button b-button_shadow b-button_primary b-button_xs b-brand-card-list__button">
                <span>Все полезные статьи</span>
            </a>
        </div>
    </div>
</div>