<div class="b-section b-main__section">
    <div class="b-section__container">
        <div class="b-section-title b-section-title_c-dark b-section-title_ta-center b-section__title">
            Лучшие предложения
        </div>
        <div class="b-tabs b-section__tabs" data-tabs>
            <div class="b-tabs__triggers">
                <div class="b-tabs__trigger" data-tabs-trigger>
                    Кредиты онлайн
                </div>
                <div class="b-tabs__trigger" data-tabs-trigger>
                    Кредитные карты
                </div>
                <div class="b-tabs__trigger" data-tabs-trigger>
                    Банковские кредиты
                </div>
                <div class="b-tabs__trigger" data-tabs-trigger>
                    Депозиты
                </div>
            </div>
            <div class="b-tabs__contents">
                <div class="b-tabs__content" data-tabs-content>
                    <div class="b-brand-card-list">
                        <div class="b-brand-card-list__row">
                            <div class="b-col b-col_4 b-col_md-6 b-col_sm-12 b-brand-card-list__item">
                                <div class="b-brand-card">
                                    <div class="b-brand-card__header">
                                        <div class="b-brand-card__image">
                                            <img src="./assets/img/brand-1.png">
                                        </div>
                                    </div>
                                    <div class="b-brand-card__main">
                                        <div class="b-brand-card__desc">
                                            <p>
                                                <strong>Быстрое решение за 15 минут</strong>
                                            </p>
                                            <p>
                                                Ставка: <strong>0% в день (первый кредит)</strong>
                                            </p>
                                            <p>
                                                Сумма: <strong>до 20 000 грн</strong>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="b-brand-card__footer">
                                        <div class="b-button b-button_xs b-button_outline b-brand-card__button">
                                            <span>Подробнее</span>
                                        </div>
                                    </div>
                                    <div class="b-brand-card__circle b-brand-card__circle_1"></div>
                                    <div class="b-brand-card__circle b-brand-card__circle_2"></div>
                                    <div class="b-brand-card__circle b-brand-card__circle_3"></div>
                                </div>
                            </div>
                            <div class="b-col b-col_4 b-col_md-6 b-col_sm-12 b-brand-card-list__item">
                                <div class="b-brand-card">
                                    <div class="b-brand-card__header">
                                        <div class="b-brand-card__image">
                                            <img src="./assets/img/brand-2.png">
                                        </div>
                                    </div>
                                    <div class="b-brand-card__main">
                                        <div class="b-brand-card__desc">
                                            <p>
                                                <strong>Быстрое решение за 15 минут</strong>
                                            </p>
                                            <p>
                                                Ставка: <strong>0% в день (первый кредит)</strong>
                                            </p>
                                            <p>
                                                Сумма: <strong>до 20 000 грн</strong>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="b-brand-card__footer">
                                        <div class="b-button b-button_xs b-button_outline b-brand-card__button">
                                            <span>Подробнее</span>
                                        </div>
                                    </div>
                                    <div class="b-brand-card__circle b-brand-card__circle_1"></div>
                                    <div class="b-brand-card__circle b-brand-card__circle_2"></div>
                                    <div class="b-brand-card__circle b-brand-card__circle_3"></div>
                                </div>
                            </div>
                            <div class="b-col b-col_4 b-col_md-6 b-col_sm-12 b-brand-card-list__item">
                                <div class="b-brand-card">
                                    <div class="b-brand-card__header">
                                        <div class="b-brand-card__image">
                                            <img src="./assets/img/brand-3.png">
                                        </div>
                                    </div>
                                    <div class="b-brand-card__main">
                                        <div class="b-brand-card__desc">
                                            <p>
                                                <strong>Быстрое решение за 15 минут</strong>
                                            </p>
                                            <p>
                                                Ставка: <strong>0% в день (первый кредит)</strong>
                                            </p>
                                            <p>
                                                Сумма: <strong>до 20 000 грн</strong>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="b-brand-card__footer">
                                        <div class="b-button b-button_xs b-button_outline b-brand-card__button">
                                            <span>Подробнее</span>
                                        </div>
                                    </div>
                                    <div class="b-brand-card__circle b-brand-card__circle_1"></div>
                                    <div class="b-brand-card__circle b-brand-card__circle_2"></div>
                                    <div class="b-brand-card__circle b-brand-card__circle_3"></div>
                                </div>
                            </div>
                        </div>
                        <div class="b-brand-card-list__more">
                            <div class="b-button b-button_shadow b-button_primary b-button_xs b-brand-card-list__button">
                                <span>Подобрать кредит</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="b-tabs__content" data-tabs-content>
                    <div class="b-brand-card-list">
                        <div class="b-brand-card-list__row">
                            <div class="b-col b-col_4 b-col_md-6 b-col_sm-12 b-brand-card-list__item">
                                <div class="b-brand-card">
                                    <div class="b-brand-card__header">
                                        <div class="b-brand-card__image">
                                            <img src="./assets/img/brand-1.png">
                                        </div>
                                    </div>
                                    <div class="b-brand-card__main">
                                        <div class="b-brand-card__desc">
                                            <p>
                                                <strong>Быстрое решение за 15 минут</strong>
                                            </p>
                                            <p>
                                                Ставка: <strong>0% в день (первый кредит)</strong>
                                            </p>
                                            <p>
                                                Сумма: <strong>до 20 000 грн</strong>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="b-brand-card__footer">
                                        <div class="b-button b-button_xs b-button_outline b-brand-card__button">
                                            <span>Подробнее</span>
                                        </div>
                                    </div>
                                    <div class="b-brand-card__circle b-brand-card__circle_1"></div>
                                    <div class="b-brand-card__circle b-brand-card__circle_2"></div>
                                    <div class="b-brand-card__circle b-brand-card__circle_3"></div>
                                </div>
                            </div>
                            <div class="b-col b-col_4 b-col_md-6 b-col_sm-12 b-brand-card-list__item">
                                <div class="b-brand-card">
                                    <div class="b-brand-card__header">
                                        <div class="b-brand-card__image">
                                            <img src="./assets/img/brand-2.png">
                                        </div>
                                    </div>
                                    <div class="b-brand-card__main">
                                        <div class="b-brand-card__desc">
                                            <p>
                                                <strong>Быстрое решение за 15 минут</strong>
                                            </p>
                                            <p>
                                                Ставка: <strong>0% в день (первый кредит)</strong>
                                            </p>
                                            <p>
                                                Сумма: <strong>до 20 000 грн</strong>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="b-brand-card__footer">
                                        <div class="b-button b-button_xs b-button_outline b-brand-card__button">
                                            <span>Подробнее</span>
                                        </div>
                                    </div>
                                    <div class="b-brand-card__circle b-brand-card__circle_1"></div>
                                    <div class="b-brand-card__circle b-brand-card__circle_2"></div>
                                    <div class="b-brand-card__circle b-brand-card__circle_3"></div>
                                </div>
                            </div>
                            <div class="b-col b-col_4 b-col_md-6 b-col_sm-12 b-brand-card-list__item">
                                <div class="b-brand-card">
                                    <div class="b-brand-card__header">
                                        <div class="b-brand-card__image">
                                            <img src="./assets/img/brand-3.png">
                                        </div>
                                    </div>
                                    <div class="b-brand-card__main">
                                        <div class="b-brand-card__desc">
                                            <p>
                                                <strong>Быстрое решение за 15 минут</strong>
                                            </p>
                                            <p>
                                                Ставка: <strong>0% в день (первый кредит)</strong>
                                            </p>
                                            <p>
                                                Сумма: <strong>до 20 000 грн</strong>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="b-brand-card__footer">
                                        <div class="b-button b-button_xs b-button_outline b-brand-card__button">
                                            <span>Подробнее</span>
                                        </div>
                                    </div>
                                    <div class="b-brand-card__circle b-brand-card__circle_1"></div>
                                    <div class="b-brand-card__circle b-brand-card__circle_2"></div>
                                    <div class="b-brand-card__circle b-brand-card__circle_3"></div>
                                </div>
                            </div>
                        </div>
                        <div class="b-brand-card-list__more">
                            <div class="b-button b-button_shadow b-button_primary b-button_xs b-brand-card-list__button">
                                <span>Подобрать кредит</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="b-tabs__content" data-tabs-content>
                    <div class="b-brand-card-list">
                        <div class="b-brand-card-list__row">
                            <div class="b-col b-col_4 b-col_md-6 b-col_sm-12 b-brand-card-list__item">
                                <div class="b-brand-card">
                                    <div class="b-brand-card__header">
                                        <div class="b-brand-card__image">
                                            <img src="./assets/img/brand-1.png">
                                        </div>
                                    </div>
                                    <div class="b-brand-card__main">
                                        <div class="b-brand-card__desc">
                                            <p>
                                                <strong>Быстрое решение за 15 минут</strong>
                                            </p>
                                            <p>
                                                Ставка: <strong>0% в день (первый кредит)</strong>
                                            </p>
                                            <p>
                                                Сумма: <strong>до 20 000 грн</strong>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="b-brand-card__footer">
                                        <div class="b-button b-button_xs b-button_outline b-brand-card__button">
                                            <span>Подробнее</span>
                                        </div>
                                    </div>
                                    <div class="b-brand-card__circle b-brand-card__circle_1"></div>
                                    <div class="b-brand-card__circle b-brand-card__circle_2"></div>
                                    <div class="b-brand-card__circle b-brand-card__circle_3"></div>
                                </div>
                            </div>
                            <div class="b-col b-col_4 b-col_md-6 b-col_sm-12 b-brand-card-list__item">
                                <div class="b-brand-card">
                                    <div class="b-brand-card__header">
                                        <div class="b-brand-card__image">
                                            <img src="./assets/img/brand-2.png">
                                        </div>
                                    </div>
                                    <div class="b-brand-card__main">
                                        <div class="b-brand-card__desc">
                                            <p>
                                                <strong>Быстрое решение за 15 минут</strong>
                                            </p>
                                            <p>
                                                Ставка: <strong>0% в день (первый кредит)</strong>
                                            </p>
                                            <p>
                                                Сумма: <strong>до 20 000 грн</strong>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="b-brand-card__footer">
                                        <div class="b-button b-button_xs b-button_outline b-brand-card__button">
                                            <span>Подробнее</span>
                                        </div>
                                    </div>
                                    <div class="b-brand-card__circle b-brand-card__circle_1"></div>
                                    <div class="b-brand-card__circle b-brand-card__circle_2"></div>
                                    <div class="b-brand-card__circle b-brand-card__circle_3"></div>
                                </div>
                            </div>
                            <div class="b-col b-col_4 b-col_md-6 b-col_sm-12 b-brand-card-list__item">
                                <div class="b-brand-card">
                                    <div class="b-brand-card__header">
                                        <div class="b-brand-card__image">
                                            <img src="./assets/img/brand-3.png">
                                        </div>
                                    </div>
                                    <div class="b-brand-card__main">
                                        <div class="b-brand-card__desc">
                                            <p>
                                                <strong>Быстрое решение за 15 минут</strong>
                                            </p>
                                            <p>
                                                Ставка: <strong>0% в день (первый кредит)</strong>
                                            </p>
                                            <p>
                                                Сумма: <strong>до 20 000 грн</strong>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="b-brand-card__footer">
                                        <div class="b-button b-button_xs b-button_outline b-brand-card__button">
                                            <span>Подробнее</span>
                                        </div>
                                    </div>
                                    <div class="b-brand-card__circle b-brand-card__circle_1"></div>
                                    <div class="b-brand-card__circle b-brand-card__circle_2"></div>
                                    <div class="b-brand-card__circle b-brand-card__circle_3"></div>
                                </div>
                            </div>
                        </div>
                        <div class="b-brand-card-list__more">
                            <div class="b-button b-button_shadow b-button_primary b-button_xs b-brand-card-list__button">
                                <span>Подобрать кредит</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="b-tabs__content" data-tabs-content>
                    <div class="b-brand-card-list">
                        <div class="b-brand-card-list__row">
                            <div class="b-col b-col_4 b-col_md-6 b-col_sm-12 b-brand-card-list__item">
                                <div class="b-brand-card">
                                    <div class="b-brand-card__header">
                                        <div class="b-brand-card__image">
                                            <img src="./assets/img/brand-1.png">
                                        </div>
                                    </div>
                                    <div class="b-brand-card__main">
                                        <div class="b-brand-card__desc">
                                            <p>
                                                <strong>Быстрое решение за 15 минут</strong>
                                            </p>
                                            <p>
                                                Ставка: <strong>0% в день (первый кредит)</strong>
                                            </p>
                                            <p>
                                                Сумма: <strong>до 20 000 грн</strong>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="b-brand-card__footer">
                                        <div class="b-button b-button_xs b-button_outline b-brand-card__button">
                                            <span>Подробнее</span>
                                        </div>
                                    </div>
                                    <div class="b-brand-card__circle b-brand-card__circle_1"></div>
                                    <div class="b-brand-card__circle b-brand-card__circle_2"></div>
                                    <div class="b-brand-card__circle b-brand-card__circle_3"></div>
                                </div>
                            </div>
                            <div class="b-col b-col_4 b-col_md-6 b-col_sm-12 b-brand-card-list__item">
                                <div class="b-brand-card">
                                    <div class="b-brand-card__header">
                                        <div class="b-brand-card__image">
                                            <img src="./assets/img/brand-2.png">
                                        </div>
                                    </div>
                                    <div class="b-brand-card__main">
                                        <div class="b-brand-card__desc">
                                            <p>
                                                <strong>Быстрое решение за 15 минут</strong>
                                            </p>
                                            <p>
                                                Ставка: <strong>0% в день (первый кредит)</strong>
                                            </p>
                                            <p>
                                                Сумма: <strong>до 20 000 грн</strong>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="b-brand-card__footer">
                                        <div class="b-button b-button_xs b-button_outline b-brand-card__button">
                                            <span>Подробнее</span>
                                        </div>
                                    </div>
                                    <div class="b-brand-card__circle b-brand-card__circle_1"></div>
                                    <div class="b-brand-card__circle b-brand-card__circle_2"></div>
                                    <div class="b-brand-card__circle b-brand-card__circle_3"></div>
                                </div>
                            </div>
                            <div class="b-col b-col_4 b-col_md-6 b-col_sm-12 b-brand-card-list__item">
                                <div class="b-brand-card">
                                    <div class="b-brand-card__header">
                                        <div class="b-brand-card__image">
                                            <img src="./assets/img/brand-3.png">
                                        </div>
                                    </div>
                                    <div class="b-brand-card__main">
                                        <div class="b-brand-card__desc">
                                            <p>
                                                <strong>Быстрое решение за 15 минут</strong>
                                            </p>
                                            <p>
                                                Ставка: <strong>0% в день (первый кредит)</strong>
                                            </p>
                                            <p>
                                                Сумма: <strong>до 20 000 грн</strong>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="b-brand-card__footer">
                                        <div class="b-button b-button_xs b-button_outline b-brand-card__button">
                                            <span>Подробнее</span>
                                        </div>
                                    </div>
                                    <div class="b-brand-card__circle b-brand-card__circle_1"></div>
                                    <div class="b-brand-card__circle b-brand-card__circle_2"></div>
                                    <div class="b-brand-card__circle b-brand-card__circle_3"></div>
                                </div>
                            </div>
                        </div>
                        <div class="b-brand-card-list__more">
                            <div class="b-button b-button_shadow b-button_primary b-button_xs b-brand-card-list__button">
                                <span>Подобрать кредит</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>