<div class="b-section b-section_cover-menu b-main__section">
    <div class="b-section__container">
        <div class="b-cover-menu">
            <div class="b-cover-menu__row">
                <div class="b-col b-col_2 b-col_sm-4 b-col_xs-6 b-cover-menu-item b-cover-menu__item">
                    <div class="b-cover-menu-item__icon">
                        @@include('../../../icons/line-chart.svg')
                    </div>
                    <div class="b-cover-menu-item__desc">
                        <p>
                            Кредитный рейтинг
                        </p>
                    </div>
                </div>
                <div class="b-col b-col_2 b-col_sm-4 b-col_xs-6 b-cover-menu-item b-cover-menu__item">
                    <div class="b-cover-menu-item__icon">
                        @@include('../../../icons/internet.svg')
                    </div>
                    <div class="b-cover-menu-item__desc">
                        <p>
                            Кредиты онлайн
                        </p>
                    </div>
                </div>
                <div class="b-col b-col_2 b-col_sm-4 b-col_xs-6 b-cover-menu-item b-cover-menu__item">
                    <div class="b-cover-menu-item__icon">
                        @@include('../../../icons/credit-card.svg')
                    </div>
                    <div class="b-cover-menu-item__desc">
                        <p>
                            Кредитные карты
                        </p>
                    </div>
                </div>
                <div class="b-col b-col_2 b-col_sm-4 b-col_xs-6 b-cover-menu-item b-cover-menu__item">
                    <div class="b-cover-menu-item__icon">
                        @@include('../../../icons/bank-credit.svg')
                    </div>
                    <div class="b-cover-menu-item__desc">
                        <p>
                            Банковские кредиты
                        </p>
                    </div>
                </div>
                <div class="b-col b-col_2 b-col_sm-4 b-col_xs-6 b-cover-menu-item b-cover-menu__item">
                    <div class="b-cover-menu-item__icon">
                        @@include('../../../icons/money-bag.svg')
                    </div>
                    <div class="b-cover-menu-item__desc">
                        <p>
                            Депозиты
                        </p>
                    </div>
                </div>
                <div class="b-col b-col_2 b-col_sm-4 b-col_xs-6 b-cover-menu-item b-cover-menu__item">
                    <div class="b-cover-menu-item__icon">
                        @@include('../../../icons/insurance.svg')
                    </div>
                    <div class="b-cover-menu-item__desc">
                        <p>
                            Страховка ОСАГО
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>