<div class="b-section b-section_home-cover b-main__cover">
    <div class="b-section__container b-section__container_home-cover" style="background-image: url('./assets/img/home-cover-image.png');">
        <div class="b-home-cover b-section__row">
            <div class="b-col b-col_1 b-col_d-xl-none"></div>
            <div class="b-col b-col_6 b-col_md-12 b-home-cover__col">
                <div class="b-home-cover-card b-home-cover__card">
                    <div class="b-home-cover-card__circle b-home-cover-card__circle_1"></div>
                    <div class="b-home-cover-card__circle b-home-cover-card__circle_2"></div>
                    <div class="b-home-cover-card__circle b-home-cover-card__circle_3"></div>
                    <div class="b-home-cover-card__inner">
                        <div class="b-home-cover-card__title">
                            Срочно нужны деньги?
                        </div>
                        <div class="b-home-cover-card__desc">
                            <p>
                                Воспользуйтесь бесплатным сервисом <br> мгновенного подбора кредитов!
                            </p>
                        </div>
                        <div class="b-button b-button_primary b-button_xs b-button_icon-left b-home-cover-card__button">
                            <div class="b-icon">
                                @@include('../../../icons/search.svg')
                            </div>
                            <span>Подобрать кредит</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>