<div class="b-section b-section_bgc-light b-main__section">
    <div class="b-section__container">
        <div class="b-currency-rates">
            <div class="b-currency-rates__text">
                Курсы валют:
            </div>
            <div class="b-currency-rates__list">
                <div class="b-currency-rates__row">
                    <div class="b-col b-col_4 b-col_md-12 b-currency-rates__item">
                        <div class="b-currency-rate b-currency-rate_up">
                            <div class="b-currency-rate__text">
                                usd: <strong>24.50</strong>
                            </div>
                            <div class="b-currency-rate__icon">
                                <div class="b-currency-rate__icon-up">
                                    @@include('../../../icons/arrow-up.svg')
                                </div>
                                <div class="b-currency-rate__icon-down">
                                    @@include('../../../icons/arrow-down.svg')
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-col b-col_4 b-col_md-12 b-currency-rates__item">
                        <div class="b-currency-rate b-currency-rate_up">
                            <div class="b-currency-rate__text">
                                rub: <strong>27.21</strong>
                            </div>
                            <div class="b-currency-rate__icon">
                                <div class="b-currency-rate__icon-up">
                                    @@include('../../../icons/arrow-up.svg')
                                </div>
                                <div class="b-currency-rate__icon-down">
                                    @@include('../../../icons/arrow-down.svg')
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-col b-col_4 b-col_md-12 b-currency-rates__item">
                        <div class="b-currency-rate b-currency-rate_down">
                            <div class="b-currency-rate__text">
                                eur: <strong>34.50</strong>
                            </div>
                            <div class="b-currency-rate__icon">
                                <div class="b-currency-rate__icon-up">
                                    @@include('../../../icons/arrow-up.svg')
                                </div>
                                <div class="b-currency-rate__icon-down">
                                    @@include('../../../icons/arrow-down.svg')
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-currency-rates__more">
                @@include('../../../icons/more.svg')
            </div>
        </div>
    </div>
</div>