<div class="b-section b-section_home-from b-section_bgc-primary b-main__section">
    <div class="b-section__home-form-circle b-section__home-form-circle_1"></div>
    <div class="b-section__home-form-circle b-section__home-form-circle_2"></div>
    <div class="b-section__home-form-circle b-section__home-form-circle_3"></div>
    <div class="b-section__container">
        <div class="b-section__row b-section__row_jc-center">
            <div class="b-col b-col_9 b-col_sm-12">
                <div class="b-home-form">
                    <div class="b-section-title b-section-title_c-light b-section-title_ta-center b-home-form__title">
                        Оставайтесь с нами на связи!
                    </div>
                    <div class="b-section-subtitle b-section-subtitle_c-light b-section-subtitle_ta-center b-home-form__desc">
                        Подпишитесь, чтобы получить больше информации
                    </div>
                    <form class="b-home-form__row b-home-form__row_jc-center">
                        <div class="b-col b-col_4 b-col_md-12 b-home-form__col">
                            <label class="b-field">
                                <input type="text" class="b-field__input b-field__input_c-dark b-field__input_bgc-muted" placeholder="Имя">
                            </label>
                        </div>
                        <div class="b-col b-col_4 b-col_md-12 b-home-form__col">
                            <label class="b-field">
                                <input type="text" class="b-field__input b-field__input_c-dark b-field__input_bgc-muted" placeholder="E-main">
                            </label>
                        </div>
                        <div class="b-col b-col_4 b-col_md-12 b-home-form__col">
                            <label class="b-field">
                                <input type="text" class="b-field__input b-field__input_c-dark b-field__input_bgc-muted" placeholder="Телефон">
                            </label>
                        </div>
                        <!-- hidden -->
                        <div class="b-col b-col_12 b-col_md-12 b-home-form__col"></div>
                        <!-- hidden -->
                        <div class="b-col b-col_d-flex b-col_jc-center b-col_12 b-home-form__col">
                            <label class="b-checkbox">
                                <input type="checkbox" class="b-checkbox__input">
                                <div class="b-checkbox__rect"></div>
                                <div class="b-checkbox__label b-checkbox__label_c-light">
                                    Отмечая это поле, я даю согласие на продажу своей души (злобный смех)
                                </div>
                            </label>
                        </div>
                        <!-- hidden -->
                        <div class="b-col b-col_12 b-col_md-12 b-home-form__col"></div>
                        <!-- hidden -->
                        <div class="b-col b-col_4 b-col_xl-5 b-col_lg-6 b-col_md-12 b-home-form__col">
                            <div class="b-button b-button_shadow b-button_w-100 b-button_light b-button_xs b-button_icon-left b-home-form__button">
                                <div class="b-icon">
                                    @@include('../../../icons/envelop-open.svg')
                                </div>
                                <span>Подписаться на рассылку</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>