<div class="b-section b-main__section">
    <div class="b-section__container">
        <div class="b-section-title b-section-title_c-dark b-section-title_ta-center b-section__title">
            Новости
        </div>
        <div class="b-section__row">
            <div class="b-col b-col_4 b-col_lg-6 b-col_sm-12 b-section__col  b-section__col_mb">
                <div class="b-card b-card_gray">
                    <a href="#" class="b-card__header">
                        <div class="b-card__image-bg" style="background-image: url(./assets/img/img-1.jpg);"></div>
                        <div class="b-card__image" style="background-image: url(./assets/img/img-1.jpg);"></div>
                    </a>
                    <div class="b-card__main">
                        <div class="b-badge b-badge_primary b-card__category">
                            @@include('../../../icons/eye.svg') <span>Личные финиасы</span>
                        </div>
                        <div class="b-card__time">
                            17.02.2020
                        </div>
                        <div class="b-badge b-badge_gray b-card__see">
                            @@include('../../../icons/eye.svg') <span>14</span>
                        </div>
                    </div>
                    <a href="#" class="b-card__footer">
                        <div class="b-card__title">
                            Как найти работу своему коту
                        </div>
                        <div class="b-card__icon">
                            @@include('../../../icons/arrow-right.svg')
                        </div>
                    </a>
                </div>
            </div>
            <div class="b-col b-col_4 b-col_lg-6 b-col_sm-12 b-section__col  b-section__col_mb">
                <div class="b-card b-card_gray">
                    <a href="#" class="b-card__header">
                        <div class="b-card__image-bg" style="background-image: url(./assets/img/img-2.jpg);"></div>
                        <div class="b-card__image" style="background-image: url(./assets/img/img-2.jpg);"></div>
                    </a>
                    <div class="b-card__main">
                        <div class="b-badge b-badge_primary b-card__category">
                            @@include('../../../icons/eye.svg') <span>Личные финиасы</span>
                        </div>
                        <div class="b-card__time">
                            17.02.2020
                        </div>
                        <div class="b-badge b-badge_gray b-card__see">
                            @@include('../../../icons/eye.svg') <span>14</span>
                        </div>
                    </div>
                    <a href="#" class="b-card__footer">
                        <div class="b-card__title">
                            Как найти работу своему коту
                        </div>
                        <div class="b-card__icon">
                            @@include('../../../icons/arrow-right.svg')
                        </div>
                    </a>
                </div>
            </div>
            <div class="b-col b-col_4 b-col_lg-6 b-col_sm-12 b-section__col  b-section__col_mb">
                <div class="b-card b-card_gray">
                    <a href="#" class="b-card__header">
                        <div class="b-card__image-bg" style="background-image: url(./assets/img/img-3.jpg);"></div>
                        <div class="b-card__image" style="background-image: url(./assets/img/img-3.jpg);"></div>
                    </a>
                    <div class="b-card__main">
                        <div class="b-badge b-badge_primary b-card__category">
                            @@include('../../../icons/eye.svg') <span>Личные финиасы</span>
                        </div>
                        <div class="b-card__time">
                            17.02.2020
                        </div>
                        <div class="b-badge b-badge_gray b-card__see">
                            @@include('../../../icons/eye.svg') <span>14</span>
                        </div>
                    </div>
                    <a href="#" class="b-card__footer">
                        <div class="b-card__title">
                            Как найти работу своему коту
                        </div>
                        <div class="b-card__icon">
                            @@include('../../../icons/arrow-right.svg')
                        </div>
                    </a>
                </div>
            </div>
            <div class="b-col b-col_4 b-col_lg-6 b-col_sm-12 b-section__col  b-section__col_mb">
                <div class="b-card b-card_gray">
                    <a href="#" class="b-card__header">
                        <div class="b-card__image-bg" style="background-image: url(./assets/img/img-4.jpg);"></div>
                        <div class="b-card__image" style="background-image: url(./assets/img/img-4.jpg);"></div>
                    </a>
                    <div class="b-card__main">
                        <div class="b-badge b-badge_primary b-card__category">
                            @@include('../../../icons/eye.svg') <span>Личные финиасы</span>
                        </div>
                        <div class="b-card__time">
                            17.02.2020
                        </div>
                        <div class="b-badge b-badge_gray b-card__see">
                            @@include('../../../icons/eye.svg') <span>14</span>
                        </div>
                    </div>
                    <a href="#" class="b-card__footer">
                        <div class="b-card__title">
                            Как найти работу своему коту
                        </div>
                        <div class="b-card__icon">
                            @@include('../../../icons/arrow-right.svg')
                        </div>
                    </a>
                </div>
            </div>
            <div class="b-col b-col_4 b-col_lg-6 b-col_sm-12 b-section__col  b-section__col_mb">
                <div class="b-card b-card_gray">
                    <a href="#" class="b-card__header">
                        <div class="b-card__image-bg" style="background-image: url(./assets/img/img-5.jpg);"></div>
                        <div class="b-card__image" style="background-image: url(./assets/img/img-5.jpg);"></div>
                    </a>
                    <div class="b-card__main">
                        <div class="b-badge b-badge_primary b-card__category">
                            @@include('../../../icons/eye.svg') <span>Личные финиасы</span>
                        </div>
                        <div class="b-card__time">
                            17.02.2020
                        </div>
                        <div class="b-badge b-badge_gray b-card__see">
                            @@include('../../../icons/eye.svg') <span>14</span>
                        </div>
                    </div>
                    <a href="#" class="b-card__footer">
                        <div class="b-card__title">
                            Как найти работу своему коту
                        </div>
                        <div class="b-card__icon">
                            @@include('../../../icons/arrow-right.svg')
                        </div>
                    </a>
                </div>
            </div>
            <div class="b-col b-col_4 b-col_lg-6 b-col_d-sm-none b-section__col  b-section__col_mb">
                <div style="width: 100%; height: 100%; border: 2px dashed #E6EAEB; border-radius: 50px; color: #C8CCCC" class="_d-flex _jc-center _ai-center">
                    Рекламное место
                </div>
            </div>
            <div class="b-col b-col_4 b-col_lg-6 b-col_d-sm-none b-section__col  b-section__col_mb">
                <div style="width: 100%; height: 100%; border: 2px dashed #E6EAEB; border-radius: 50px; color: #C8CCCC" class="_d-flex _jc-center _ai-center">
                    Рекламное место
                </div>
            </div>
            <div class="b-col b-col_4 b-col_lg-6 b-col_sm-12 b-section__col  b-section__col_mb">
                <div class="b-card b-card_gray">
                    <a href="#" class="b-card__header">
                        <div class="b-card__image-bg" style="background-image: url(./assets/img/img-6.jpg);"></div>
                        <div class="b-card__image" style="background-image: url(./assets/img/img-6.jpg);"></div>
                    </a>
                    <div class="b-card__main">
                        <div class="b-badge b-badge_primary b-card__category">
                            @@include('../../../icons/eye.svg') <span>Личные финиасы</span>
                        </div>
                        <div class="b-card__time">
                            17.02.2020
                        </div>
                        <div class="b-badge b-badge_gray b-card__see">
                            @@include('../../../icons/eye.svg') <span>14</span>
                        </div>
                    </div>
                    <a href="#" class="b-card__footer">
                        <div class="b-card__title">
                            Как найти работу своему коту
                        </div>
                        <div class="b-card__icon">
                            @@include('../../../icons/arrow-right.svg')
                        </div>
                    </a>
                </div>
            </div>
            <div class="b-col b-col_4 b-col_lg-6 b-col_sm-12 b-section__col  b-section__col_mb">
                <div class="b-card b-card_gray">
                    <a href="#" class="b-card__header">
                        <div class="b-card__image-bg" style="background-image: url(./assets/img/img-7.jpg);"></div>
                        <div class="b-card__image" style="background-image: url(./assets/img/img-7.jpg);"></div>
                    </a>
                    <div class="b-card__main">
                        <div class="b-badge b-badge_primary b-card__category">
                            @@include('../../../icons/eye.svg') <span>Личные финиасы</span>
                        </div>
                        <div class="b-card__time">
                            17.02.2020
                        </div>
                        <div class="b-badge b-badge_gray b-card__see">
                            @@include('../../../icons/eye.svg') <span>14</span>
                        </div>
                    </div>
                    <a href="#" class="b-card__footer">
                        <div class="b-card__title">
                            Как найти работу своему коту
                        </div>
                        <div class="b-card__icon">
                            @@include('../../../icons/arrow-right.svg')
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>