<div class="b-section b-main__section">
    <div class="b-section__container">
        <div class="b-section-title b-section-title_c-dark b-section-title_ta-center b-section__title">
            Как взять кредит онлайн?
        </div>
        <div class="b-section__row">
            <div class="b-col b-col_4 b-col_lg-6 b-col_sm-12 b-section__col">
                <a href="https://www.youtube.com/watch?v=l0fcidYiIYs" data-fancybox="home-videos" class="b-video-card">
                    <div class="b-video-card__bg" style="background-image: url(./assets/img/img-2.jpg);"></div>
                    <div class="b-video-card__inner" style="background-image: url(./assets/img/img-2.jpg);">
                        <div class="b-video-card__trigger">
                            <span>
                                Смотреть видео
                            </span> @@include('../../../icons/play.svg')
                        </div>
                    </div>
                </a>
            </div>
            <div class="b-col b-col_4 b-col_lg-6 b-col_sm-12 b-section__col">
                <a href="https://www.youtube.com/watch?v=l0fcidYiIYs" data-fancybox="home-videos" class="b-video-card">
                    <div class="b-video-card__bg" style="background-image: url(./assets/img/img-6.jpg);"></div>
                    <div class="b-video-card__inner" style="background-image: url(./assets/img/img-6.jpg);">
                        <div class="b-video-card__trigger">
                            <span>
                                Смотреть видео
                            </span> @@include('../../../icons/play.svg')
                        </div>
                    </div>
                </a>
            </div>
            <div class="b-col b-col_4 b-col_lg-6 b-col_sm-12 b-section__col">
                <a href="https://www.youtube.com/watch?v=l0fcidYiIYs" data-fancybox="home-videos" class="b-video-card">
                    <div class="b-video-card__bg" style="background-image: url(./assets/img/img-7.jpg);"></div>
                    <div class="b-video-card__inner" style="background-image: url(./assets/img/img-7.jpg);">
                        <div class="b-video-card__trigger">
                            <span>
                                Смотреть видео
                            </span> @@include('../../../icons/play.svg')
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="b-section__block b-section__block_d-flex b-section__block_jc-center">
            <a href="#" class="b-button b-button_shadow b-button_primary b-button_xs b-brand-card-list__button">
                <span>Все видео</span>
            </a>
        </div>
    </div>
</div>